/*- CSS stylesheet */

/*- style.css ~~
 *                                                      ~~ (c) SRW, 07 Oct 2013
 *                                                  ~~ last updated 07 Oct 2013
 */

@media all {

 /* Twitter Bootstrap's fixed navbar overlays other content unless you add
  * padding to the top of the body, and by default the navbar is 50px high. */

    body {
        background-color: #f8f8f8;
        padding-bottom: 0px;
        padding-top: 50px;
    }

 /* Add a border to the HTML5 Canvas elements to make them visible. */

    canvas {
        background-color: black;
        border: 1px solid #e6e6e6;
    }

 /* Heaven forbid that someone thinks the app isn't working because they have
  * actually turned JavaScript off, but just in case ... */

    noscript {
        color: red;
        font-size: 200%;
    }

}

/*- vim:set syntax=css: */
